<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/head')%>
  <link href="/css/product-car.css" rel=stylesheet>
</head>

<body>
  <%- include('../partials/header')%>
  <!--------------------------------------------------------------termina el header-->

  <main>
    <h2 class="main-header">Tu reserva</h2>
    <div class="main-cont">
      <div class="subc-1">
        <div class="C-4" id="a4">
          <section>
            <div class="cont-fecha-editar">
              <h3>Fecha</h3>
              <h4><a href="#"> Editar</a></h4>
            </div>
            <div>
              <h4>3 al 10 de noviembre</h4>
            </div>
          </section>
          <hr>
          <section>

            <div class="cont-fecha-editar">
              <h3>Huespedes</h3>
              <p>Esta propiedad permite un maximo de <%= property.max_guests %> personas.</p>
              <div>
                <h4><a href="#"> Editar</a></h4>
              </div>
            </div>
            <div>
              <h4>3 personas</h4>
            </div>
          </section>
        </div>
      </div>
      <div class="subc-2">
        <div class="C-6" id="a4">
          <div class="card6" id="a">
            <% for (let key in property.Images) { %>
              <% if (property.Images[key] != null) { %>
            <div class="emul_head6">
              <img src="/productsImages/<%= property.Images[key] %>" alt="">
            </div>
            <% } } %> 
            <section class="sect-6">
              <h4><%= property.type %> en <%= property.city %> Provincia de <%= property.province %><br><p><%= property.address %></p></h4>
            </section>
          </div>
          <div class="card7">
            <h2>Detalles del precio</h2>
            <div class="card7-caja1">
              <div>
                <h4> Valor por 1 noche</h4>
              </div>
              <div>
                <h4>$ <%= property.price%></h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>Promociones</h4>
              </div>
              <div>
                <h4>$0</h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>Oferta semanal</h4>
              </div>
              <div>
                <h4>$0</h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>Recargos y adicionales</h4>
              </div>
              <div>
                <h4>$5.000</h4>
              </div>
            </div>
            <div class="card7-caja1">
              <div>
                <h4>TOTAL</h4>
              </div>
              <div>
                <h4>$155.000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="c-card0">
        <div class="card">
          <div class="pay-visa"> <a href="#"><img src="/images/visa.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Hasta 12 cuotas</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa"><a href="#"> <img src="/images/maestro.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Hasta 6 cuotas</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa">
            <a href="#">
              <img src="/images/american-express.svg" alt=""></a>
          </div>
          <div class="cont-p">
            <p>Hasta 12 cuotas</p>
          </div>
        </div>
      </div>
      <div class="c-card0">
        <div class="card">
          <div class="pay-visa"> <a href="#"><img src="/images/bank.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Se acredita al instante</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa"><a href="#"> <img src="/images/apple-pay.svg" alt=""></a></div>
          <div class="cont-p">
            <p>Pagá desde tu dispositivo</p>
          </div>
        </div>
        <div class="card">
          <div class="pay-visa">
            <a href="#">
              <img src="/images/paypal.svg" alt=""></a>
          </div>
          <div class="cont-p">
            <p>Pagá en forma segura</p>
          </div>
        </div>
      </div>
<br>
<!-- Button trigger modal -->
<button class="submitRegister" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
  RESERVAR
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #eeeeee; color: #1C658C;">
        <h5 class="modal-title" id="exampleModalLabel">TuLugar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #1C658C; color: #eeeeee;">
        <h2>Reserva realizada con exito</h2>
        <p>Le enviaremos al correo registrado su factura y reserva.</p> 
        <p>Gracias por confiar en nosotros.</p>
      </div>
    </div>
  </div>
</div>
    <br><br><br>
  </main>
  <%- include('../partials/bottomBurgerMenu.ejs'); %>
  <%- include('../partials/footer')%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>