<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/submit-products.css" />
</head>
<body class="register">
  <%- include('../partials/header')%>
  <section class="cargaYedit" style="margin-bottom: 3%;">
    <main class="submitProducts">
      <div class="divPrincipalMainRegister">
        <h2>Editar Producto</h2>
        <form method="POST" action="/products/<%= property.IdProduct %>?_method=PUT" enctype="multipart/form-data">
          <div class="propietiDescriptionSP">
            <label for="DescripcionSP" style="text-align: left;padding: 1%;">
              <bold>Descripción General de la propiedad:</bold>
            </label>
            <textarea
              type="text"
              name="description"
              id="DescripcionSP"
              required
              cols="5"
              rows="5"
              placeholder="Despcripción del inmueble"
            ></textarea> 
          </div>
          <div class="cuerpoSP">
            <div class="listaSP">
              <label for="claseProducto" class="center" style="margin-bottom: 5%;">Tipo de propiedad:</label>
              <select style="max-width: fit-content;" name="tipoPropiedad" class="center" id="claseProducto">
                <option value="departamento" <%= property.tipoPropiedad === 'departamento' ? 'selected' : '' %>>Departamento</option>
                <option value="casa" <%= property.tipoPropiedad === 'casa' ? 'selected' : '' %>>Casa</option>
                <option value="cabaña" <%= property.tipoPropiedad === 'cabaña' ? 'selected' : '' %>>Cabaña</option>
                <option value="quinta" <%= property.tipoPropiedad === 'quinta' ? 'selected' : '' %>>Quinta</option>
                <option value="compartido" <%= property.tipoPropiedad === 'compartido' ? 'selected' : '' %>>Piso compartido</option>
                <option value="barrioPrivado" <%= property.tipoPropiedad === 'barrioPrivado' ? 'selected' : '' %>>Propiedad en barrio privado</option>
                <option value="barrioCerrado" <%= property.tipoPropiedad === 'barrioCerrado' ? 'selected' : '' %>>Propiedad en barrio cerrado</option>
                <option value="hotel" <%= property.tipoPropiedad === 'hotel' ? 'selected' : '' %>>Establecimiento hotelero</option>
                <option value="habitacion" <%= property.tipoPropiedad === 'habitacion' ? 'selected' : '' %>>Habitación</option>
                <option value="apartHotel" <%= property.tipoPropiedad === 'apartHotel' ? 'selected' : '' %>>Apart Hotel</option>
                <option value="hotelBoutique" <%= property.tipoPropiedad === 'hotelBoutique' ? 'selected' : '' %>>Hotel Boutique</option>
                <option value="bedAndBreakfast" <%= property.tipoPropiedad === 'bedAndBreakfast' ? 'selected' : '' %>>Bed and Breakfast</option>
                <option value="hosteria" <%= property.tipoPropiedad === 'hosteria' ? 'selected' : '' %>>Hosteria</option>
                <option value="hostel" <%= property.tipoPropiedad === 'hostel' ? 'selected' : '' %>>Hostel</option>
                <option value="condominio" <%= property.tipoPropiedad === 'condominio' ? 'selected' : '' %>>Condominio</option>
              </select>
              <div class="cheekboxSP" style="flex-direction: column;align-items: flex-start;">
                <div >
                  <label for="foto">Subir fotos</label>
                  <input type="file" id="foto" name="profile-files"  onchange="trySubmitFile(event)" required multiple  />
                </div>
                <div>
                  <label style="margin-top: 25%;" for="wifi">Wi Fi</label>
                  <input name="wifi" type="checkbox" id="wifi" <%= property.wifi ? 'checked' : '' %>/>
                </div>
                <div>
                  <label for="servicio">Servicio de habitación</label>
                  <input type="checkbox" name="servicio" id="servicio" <%= property.servicio ? 'checked' : '' %>/>
                </div>
                <div>
                  <label for="desayuno">Desayuno incluido</label>
                  <input type="checkbox" name="desayuno" id="desayuno" <%= property.desayuno ? 'checked' : '' %>/>
                </div>
                <div>
                  <label for="mascotras">Se admiten mascotas</label>
                  <input type="checkbox" name="mascotas" id="mascotas" <%= property.mascotas  ? 'checked' : '' %>/>
                </div>
                <div>
                  <label for="cantPersonas">Capacidad maxima de personas</label>
                  <input type="number" name="cantPersonas" style="margin-bottom: 5%;" id="cantPersonas" value="<%= property.cantPersonas %>" required/>
                </div>
              <div class="form-center" style="text-align: left;">
                <label for="valorEstadia">Precio por día:</span>
                <input type="number" name="valorEstadia" id="valorEstadia" class="form-control" style="max-width: fit-content;"placeholder="$" value="<%= property.valorEstadia %>">
              </div>
            </div>
          </div>
          <div class="datosFinalesSP">
          
            <label for="provincia" class="center">Provincia:</label> 
            <select style="max-width: fit-content;" name="provincia" class="center" id="provincia">
              <% let provincias = ['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa',' Jujuy', 'La Pampa',
              'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Rio Negro', 'Salta',' San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán'] %>
              <% for (let i = 0; i < provincias.length; i++) { %> 
              <option value="<%= provincias[i] %>" <%= property.provincia === provincias[i] ? 'selected' : '' %>><%= provincias[i] %></option>
              <% } %>
            </select>
            <label for="city" class="center">Ciudad:</label> 
          <input type="text" name="city" id="city" required value="<%= property.city %>"/>
          <div class="botonesSP center">
            <button type="submit" class="submit guardarSP">Guardar</button> 
            <button class="delete borrarSP">Cancelar</button>
          </div>
        </form>
      </main>
    </section>
  <%- include('../partials/bottomBurgerMenu.ejs'); %>
  <!--FOOTER-->
  <%- include('../partials/footer.ejs'); %>
</body>

<script>
  function trySubmitFile(e) {
    const files = e.target.files || e.dataTransfer.files;
    let len = files.length;
    debugger;
    if (len > 3) {
      alert('Solo se pueden subir hasta 3 fotos.');
      event.target.value = '';
    }
  }
</script>
</html>
