<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/product-form.css"/>
  <script type="text/javascript" src="/js/productForm.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body onpageshow="codeAddress()">
  <%- include('../partials/header')%>
  <main>
    <div class="submit-main-wrapper">
      <section class="submit-main-section">
        <h2 class="submit-main-header-text">
          Editar tu propiedad
        </h2>
        <% if (locals.priorInput) { %>
        <form action="/products/<%= priorInput.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="submit-form">
          <div class="submit-form-main-data-wrapper">
            <select name="type" class="submit-form-input" id="select-type" required> 
              <option selected disabled>Tipo de propiedad</option>
              <option value="Departamento" <%= priorInput.type === 'Departamento' ? 'selected' : '' %>>Departamento</option>
              <option value="Casa" <%= priorInput.type === 'Casa' ? 'selected' : '' %>>Casa</option>
              <option value="Cabaña" <%= priorInput.type === 'Cabaña' ? 'selected' : '' %>>Cabaña</option>
              <option value="Quinta" <%= priorInput.type === 'Quinta' ? 'selected' : '' %>>Quinta</option>
              <option value="Hotel" <%= priorInput.type === 'Hotel' ? 'selected' : '' %>>Hotel</option>
              <option value="Habitación" <%= priorInput.type === 'Habitación' ? 'selected' : ''%>>Habitación</option>
              <option value="Hostel" <%= priorInput.type === 'Hostel' ? 'selected' : '' %>>Hostel</option>
            </select>
            <div class="form-price-guests-wrapper">
              <label for="max_guests" class="submit-form-label">Huéspedes</label>
              <label for="price" class="submit-form-label">Precio por noche</label>
              <input type="number" name="max_guests" id="max_guests" min="1" max="15" size="2" class="submit-form-input" required value="<%= priorInput.max_guests ? priorInput.max_guests : '' %>">
              <input type="number" name="price" id="price" class="submit-form-input" step="0.01" min="0.01" value="<%= priorInput.price ? priorInput.price : '' %>">
              <span class="validation-error"><%= locals.errors?.max_guests ? errors.max_guests.msg :'' %></span>
              <span class="validation-error" id="price-error"><%= locals.errors?.price ? errors.price.msg :'' %></span>
            </div>
          </div>
          <div class="submit-form-description-wrapper">
            <h4 class="wrapper-header">Descripción</h4>
            <textarea name="description" id="description" rows="4" class="submit-form-input" required><%= priorInput.description ? priorInput.description : '' %></textarea>
            <% if (locals.errors?.description) { %>
            <span class="validation-error"><%= errors.description.msg %></span>
            <% } %>
          </div>
          <div class="submit-form-amenities-wrapper">
            <h4 class="wrapper-header">Amenidades</h4>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="wifi" id="wifi" <%= priorInput.wifi ? 'checked' : '' %>>
              <label for="wifi" class="amenitie-label">WiFi</label> 
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="room_service" id="room_service" <%= priorInput.room_service ? 'checked' : '' %>>
              <label for="room_service" class="amenitie-label">Servicio de limpieza</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="breakfast" id="breakfast" <%= priorInput.breakfast ? 'checked' : '' %>>
              <label for="breakfast" class="amenitie-label">Desayuno</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="pets" id="pets" <%= priorInput.pets ? 'checked' : '' %>>
              <label for="pets" class="amenitie-label">Mascotas</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="garage" id="garage" <%= priorInput.garage ? 'checked' : '' %>>
              <label for="garage" class="amenitie-label">Garage</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="linens" id="linens" <%= priorInput.linens ? 'checked' : '' %>>
              <label for="linens" class="amenitie-label">Ropa de cama</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="heating" id="heating" <%= priorInput.heating ? 'checked' : '' %>>
              <label for="heating" class="amenitie-label">Calefacción</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="air_conditioning" id="air_conditioning" <%= priorInput.air_conditioning ? 'checked' : '' %>>
              <label for="air_conditioning" class="amenitie-label">Aire acondicionado</label>  
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="pool" id="pool" <%= priorInput.pool ? 'checked' : '' %>>
              <label for="pool" class="amenitie-label">Piscina</label>  
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="grill" id="grill" <%= priorInput.grill ? 'checked' : '' %>>
              <label for="grill" class="amenitie-label">Parrilla</label>  
            </span>
          </div>
          <div class="submit-form-location-wrapper">
            <h4 class="wrapper-header">Ubicación</h4>
            <select name="province" id="province" class="submit-form-input location-input" required>
              <option disabled value="">Provincia</option>
                <% let provinces = ['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa',' Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Rio Negro', 'Salta',' San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']; %>
                <% for(let i = 0; i < provinces.length; i++ ) { %>
                <option value="<%= provinces[i] %>" <%= priorInput.province === provinces[i] ? 'selected' : '' %>><%= provinces[i] %></option>
                <% } %>
            </select>
            <% if (locals.errors?.province) { %>
              <span class="validation-error"><%= errors.province.msg %></span>
              <% } %>
              <input list="city-datalist" name="city" id="city" placeholder="Ciudad" disabled class="submit-form-input location-input" required value="<%= locals.priorInput?.city ? priorInput.city : '' %>">
              <% if (locals.errors?.city) { %>
              <span class="validation-error"><%= errors.city.msg %></span>
              <% } %>
              <datalist id="city-datalist">
              </datalist>
              <input type="text" name="address" placeholder="Dirección" id="address" onchange="codeAddress()" class="submit-form-input location-input" required  value="<%= locals.priorInput?.address ? priorInput.address : '' %>">
              <% if (locals.errors?.address) { %>
              <span class="validation-error"><%= errors.address.msg %></span>
              <% } %>
              <div id="map"></div>
            </div>
            <div class="submit-form-images-wrapper">
              <h4 class="wrapper-header">Imágenes</h4>
              <% if (locals.errors?.image) { %>
              <div id="edit-form-images-wrapper-error">
                <input type="file" name="image" id="images" multiple onchange="previewImages()" class="submit-form-input" accept=".png, .jpg, .bmp, .webp">
                <% if (locals.errors?.image?.msg1) { %>
                <span class="validation-error"><%= errors.image.msg1 %></span>
                <% } %>
                <% if (locals.errors?.image?.msg2) { %>
                <span class="validation-error"><%= errors.image.msg2 %></span>
                <% } %>
                <div class="images-ul-text">
                  <ul>
                    <li>Hasta 6 imágenes de 500KB cada una</li>
                    <li>Formatos soportados: .png .jpg .bmp .webp</li>
                  </ul>
                </div>
              </div>
              <% } else { %>
              <a href="#edit-form-images-button" id="edit-form-images-button" onclick="displayImagesForm()">Editar imágenes</a>
              <div id="edit-form-images-wrapper">
                <input type="file" name="image" id="images" multiple onchange="previewImages()" class="submit-form-input" accept=".png, .jpg, .bmp, .webp">
                <% if (locals.errors?.image?.msg1) { %>
                <span class="validation-error"><%= errors.image.msg1 %></span>
                <% } %>
                <% if (locals.errors?.image?.msg2) { %>
                <span class="validation-error"><%= errors.image.msg2 %></span>
                <% } %>
                <div class="images-ul-text">
                  <ul>
                    <li>Hasta 6 imágenes de 500KB cada una</li>
                    <li>Formatos soportados: .png .jpg .bmp .webp</li>
                  </ul>
                </div>
              </div>                        
              <div id="submit-preview-images">
              <% for (let i = 0; i < priorInput.images.length; i++ ) { %>
              <% if (priorInput.images[i] != null) { %>
              <div class="preview-image-wrapper" id="preview-image-wrapper<%= i %>">
                <img src="/productsImages/<%= priorInput.images[i] %>" class="preview">
              </div>
              <% } } }%>
            </div>
          </div>
          <div class="submit-form-buttons-wrapper">
            <button type="submit" id="submit-form-save-button">Guardar</button>  
            <a href="/users" id="submit-form-back-button">Volver</a>
          </div>
        </form>
        <% } else { %>
        <form action="/products/<%= property.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="submit-form">
          <div class="submit-form-main-data-wrapper">
            <select name="type" class="submit-form-input" id="select-type" required> 
              <option disabled>Tipo de propiedad</option>
              <option value="Departamento" <%= property.type === 'Departamento' ? 'selected' : '' %>>Departamento</option>
              <option value="Casa" <%= property.type === 'Casa' ? 'selected' : '' %>>Casa</option>
              <option value="Cabaña" <%= property.type === 'Cabaña' ? 'selected' : '' %>>Cabaña</option>
              <option value="Quinta" <%= property.type === 'Quinta' ? 'selected' : '' %>>Quinta</option>
              <option value="Hotel" <%= property.type === 'Hotel' ? 'selected' : '' %>>Hotel</option>
              <option value="Habitación" <%= property.type === 'Habitación' ? 'selected' : '' %>>Habitación</option>
              <option value="Hostel" <%= property.type === 'Hostel' ? 'selected' : '' %>>Hostel</option>
            </select>
            <div class="form-price-guests-wrapper">
              <label for="max_guests" class="submit-form-label">Huéspedes</label>
              <label for="price" class="submit-form-label">Precio por noche</label>
              <input type="number" name="max_guests" id="max_guests" min="1" max="15" size="2" class="submit-form-input" required value="<%= property.max_guests %>" >              
              <input type="number" name="price" id="price" class="submit-form-input" step="0.01" min="0.01" required value="<%= property.price %>" >
              <span class="validation-error"><%= locals.errors?.max_guests ? errors.max_guests.msg :'' %></span>
              <span class="validation-error" id="price-error"><%= locals.errors?.price ? errors.price.msg :'' %></span>
            </div>     
          </div>
          <div class="submit-form-description-wrapper">
            <h4 class="wrapper-header">Descripción</h4>
            <textarea name="description" id="description" rows="4" class="submit-form-input" required><%= property.description %></textarea>
            <% if (locals.errors?.description) { %>
            <span class="validation-error"><%= errors.description.msg %></span>
            <% } %>
          </div>
          <div class="submit-form-amenities-wrapper">
            <h4 class="wrapper-header">Amenidades</h4>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="wifi" id="wifi" <%= property.Amenities.wifi ? 'checked' : '' %>>
              <label for="wifi" class="amenitie-label">WiFi</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="room_service" id="room_service" <%= property.Amenities.room_service ? 'checked' : '' %>>
              <label for="room_service" class="amenitie-label">Servicio de limpieza</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="breakfast" id="breakfast" <%= property.Amenities.breakfast ? 'checked' : '' %>>
              <label for="breakfast" class="amenitie-label">Desayuno</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="pets" id="pets" <%= property.Amenities.pets ? 'checked' : '' %>>
              <label for="pets" class="amenitie-label">Mascotas</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="garage" id="garage" <%= property.Amenities.garage ? 'checked' : '' %>>
              <label for="garage" class="amenitie-label">Garage</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="linens" id="linens" <%= property.Amenities.linens ? 'checked' : '' %>>
              <label for="linens" class="amenitie-label">Ropa de cama</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="heating" id="heating" <%= property.Amenities.heating ? 'checked' : '' %>>
              <label for="heating" class="amenitie-label">Calefacción</label>
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="air_conditioning" id="air_conditioning" <%= property.Amenities.air_conditioning ? 'checked' : '' %>>
              <label for="air_conditioning" class="amenitie-label">Aire acondicionado</label>  
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="pool" id="pool" <%= property.Amenities.pool ? 'checked' : '' %>>
              <label for="pool" class="amenitie-label">Piscina</label>  
            </span>
            <span class="amenitie-wrapper">
              <input type="checkbox" name="grill" id="grill" <%= property.Amenities.grill ? 'checked' : '' %>>
              <label for="grill" class="amenitie-label">Parrilla</label>  
            </span>
          </div>
          <div class="submit-form-location-wrapper">
            <h4 class="wrapper-header">Ubicación</h4>
            <select name="province" id="province" class="submit-form-input location-input" required>
              <option disabled id="province-option">Provincia</option>
                <% let provinces = ['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa',' Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Rio Negro', 'Salta',' San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']; %>
                <% for(let i = 0; i < provinces.length; i++ ) { %>
                <option value="<%= provinces[i] %>" <%= property.province === provinces[i] ? 'selected' : '' %>><%= provinces[i] %></option>
                <% } %>
            </select>
            <input list="city-datalist" name="city" id="city" placeholder="Ciudad" class="submit-form-input location-input" value="<%= property.city %>" required>
            <datalist id="city-datalist">
            </datalist>
            <input type="text" name="address" placeholder="Dirección" id="address" class="submit-form-input location-input" value="<%= property.address %>" required>
            <div id="map"></div>
          </div>
          <div class="submit-form-images-wrapper">
            <h4 class="wrapper-header">Imágenes</h4>
            <% if (locals.errors?.image) { %>
            <div id="edit-form-images-wrapper-error">
              <input type="file" name="image" id="images" multiple onchange="previewImages()" class="submit-form-input" accept=".png, .jpg, .bmp, .webp">
              <% if (locals.errors?.image?.msg1) { %>
              <span class="validation-error"><%= errors.image.msg1 %></span>
              <% } %>
              <% if (locals.errors?.image?.msg2) { %>
              <span class="validation-error"><%= errors.image.msg2 %></span>
              <% } %>
              <div class="images-ul-text">
                <ul>
                  <li>Hasta 6 imágenes de 500KB cada una</li>
                  <li>Formatos soportados: .png .jpg .bmp .webp</li>
                </ul>
              </div>
            </div>
            <% } else { %>
            <a href="#edit-form-images-button" id="edit-form-images-button" onclick="displayImagesForm()">Editar imágenes</a>
            <div id="edit-form-images-wrapper">
              <input type="file" name="image" id="images" multiple onchange="previewImages()" class="submit-form-input" accept=".png, .jpg, .bmp, .webp">
              <% if (locals.errors?.image?.msg1) { %>
              <span class="validation-error"><%= errors.image.msg1 %></span>
              <% } %>
              <% if (locals.errors?.image?.msg2) { %>
              <span class="validation-error"><%= errors.image.msg2 %></span>
              <% } %>
              <div class="images-ul-text">
                <ul>
                  <li>Hasta 6 imágenes de 500KB cada una</li>
                  <li>Formatos soportados: .png .jpg .bmp .webp</li>
                </ul>
              </div>
            </div>                        
            <div id="submit-preview-images">
              <% let i = 0; %>
              <% for (let key in property.Images) { %>
                <% if (property.Images[key] != null) { %>
              <div class="preview-image-wrapper" id="preview-image-wrapper<%= i %>">
                <img src="/productsImages/<%= property.Images[key] %>" class="preview">
              </div>
              <% } i++; } %>
            </div>
            <% } %>
          </div>
          <div class="submit-form-buttons-wrapper">
            <button type="submit" id="submit-form-save-button">Guardar</button>  
            <a href="/users" id="submit-form-back-button">Volver</a>
          </div>
        </form>
        <% } %>
      </section>
    </div>
  </main>
  <%- include('../partials/footer')%>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMaps %>&callback=initMap&v=weekly" defer></script>
</body>
</html>