<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/submit-products.css" />
</head>
  <body class="register">
    <%- include('../partials/header')%>
    <section class="cargaYedit" style="margin-bottom: 3%;">
      <main class="submitProducts">
        <div class="divPrincipalMainRegister">
          <h2>Cargar Producto</h2>
          <form method="POST" action="/products" enctype="multipart/form-data">
          <div class="propietiDescriptionSP">
            <label for="DescripcionSP" style="text-align: left;padding: 1%;"><bold> Descripción General de la propiedad:</bold></label
            >
            <textarea
              type="text"
              name="description"
              id="DescripciónSP"
              required
              cols="5"
              rows="5"
              placeholder="Despcripción del inmueble"
            ></textarea> 
          </div>
          <div class="cuerpoSP">
            <div class="listaSP">
              <label for="claseProducto" class="center"style="margin-bottom: 5%;">Tipo de propiedad:</label>
              <select style="max-width: fit-content;" name="tipoPropiedad" class="center">
                <option value="departamento"selected>Departamento</option>
                <option value="casa">Casa</option>
                <option value="cabaña">Cabaña</option>
                <option value="quinta">Quinta</option>
                <option value="compartido">Piso compartido</option>
                <option value="barrioPrivado">Propiedad en barrio privado</option>
                <option value="barrioCerrado">Propiedad en barrio cerrado</option>
                <option value="hotel">Establecimiento hotelero</option>
                <option value="habitacion">Habitación</option>
                <option value="apartHotel">Apart Hotel</option>
                <option value="hotelBoutique">Hotel Boutique</option>
                <option value="bedAndBreakfast">Bed and Breakfast</option>
                <option value="hosteria">Hosteria</option>
                <option value="hostel">Hostel</option>
                <option value="condominio">Condominio</option>
              </select>
              <div class="cheekboxSP" style="flex-direction: column;align-items: flex-start;">
                <div >
                  <label for="habitaciones" style="margin-left: -60%;">Fotos de la propiedad:</label> 
                  <!-- <input type="checkbox" id="habitaciones" /> -->
                  <br />
                  <label for="foto">Subir fotos</label>
                  <input type="file" name="profile-files"  onchange="trySubmitFile(event)" required multiple  />
                </div>
                <div>
                  <label style="margin-top: 25%;" for="Wi Fi">Wi Fi</label>
                  <input name="wifi" type="checkbox" id="Wi Fi" />
                </div>
                <div>
                  <label for="Servicio de habitación"
                    >Servicio de habitación</label
                  >
                  <input type="checkbox" name="servicio" id="Servicio de habitación" />
                </div>
                <div>
                  <label for="Desayuno incluido">Desayuno incluido</label>
                  <input type="checkbox" name="desayuno" id="Desayuno incluido" />
                </div>
                <div>
                  <label for="Se admiten mascotas">Se admiten mascotas</label>
                  <input type="checkbox" name="mascotas" id="Se admiten mascotas" />
                </div>
                <div>
                  <label for="Capacidad maxima de personas"
                    >Capacidad maxima de personas</label>
                  <input type="number" name="cantPersonas" style="margin-bottom: 5%;" id="Capacidad maxima de personas" required />
                </div>
              <div class="form-center" style="text-align: left;">
                <span id="valor por dia">Precio por día:</span>
                <input type="number" name="valorestadia" class="form-control" style="max-width: fit-content;"placeholder="$">
              </div>
            </div>
          </div>
          <div class="datosFinalesSP">
          
            <label for="claseProducto" class="center">Provincia:</label> 
            <select style="max-width: fit-content;" name="provincia" class="center">
              <% let provincias = ['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa',' Jujuy', 'La Pampa',
              'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Rio Negro', 'Salta',' San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán'] %>
              <% for (let i = 0; i < provincias.length; i++) { %> 
              <option value=<%= provincias[i] %>><%= provincias[i] %></option>
              <% } %>
            </select>
            <label for="Ciudad" class="center"
            >Ciudad:</label
          > 
          <input
            type="text"
            name="ciudad"
            id="Ciudad"
            required
            placeholder="Ciudad"
          />

            <label for="Direccion del inmueble" class="center" 
              >Direccion:</label
            >
            <input style="margin-bottom: 3%;"
              type="text"
              name="direccion"
              id="Ciudad y direccion del inmueble"
              required
              placeholder="direccion del inmueble"
            />
          </div>
          <div class="botonesSP center" >
            <button type="submit" class="submit guardarSP">Guardar</button> 
            <button class="delete borrarSP">Cancelar</button>
          </div>
        </form>
      </main>

    </section>
    <%- include('../partials/bottomBurgerMenu.ejs'); %>
    <!--FOOTER-->
    <%- include('../partials/footer.ejs'); %>
  </body>

  <script>
   function trySubmitFile(e){
   
    const files = e.target.files || e.dataTransfer.files;
    //console.log(files);
    let len = files.length;
    debugger;
    if (len > 3) {
      alert('Solo se pueden subir hasta 3 fotos.');
      event.target.value = '';
    }

   }
  </script>
</html>
