<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <header class="main-header">
    <div class="header-top-bar">
      <div class="header-logo-wrapper">
        <a href="/"><img src="/images/TULUGARbajo.gif" alt="Logo del sitio" class="header-logo"></a>
      </div>
      <% if (locals.user) { %>      
      <div class="user-avatar-wrapper">
        <p class="user-name"><%= locals.user.username %></p>
        <img src="/usersImages/<%= locals.user.avatar %>" class="user-avatar">
      </div>
      <% } else { %>
      <nav class="header-logreg-wrapper">
        <div class="logreg-button" id="login-button">
          <a class="logreg-link" href="/users/login">Iniciar sesión</a>
        </div>
        <div class="logreg-button" id="register-button">
          <a class="logreg-link" href="/users/register">Registrarse</a>
        </div>
      <% } %>
      </nav>
      <div class="burger-button-wrapper">
        <div class="burger-button">
          <a class="burger-icon" href="#">&#9776;</a>
          <ul class="burger-list">
            <li class="burger-item-wrapper">
              <a href="/users" class="burger-item">Se anfitrión</a>
            </li>
            <li class="burger-item-wrapper">
              <a href="/users/info" class="burger-item">Informacion para anfitrión</a>
            </li>
            <li class="burger-item-wrapper">
              <a href="/admin" class="burger-item">Administrador</a>
            </li>
            <% if (locals.user) { %>
            <li class="burger-item-wrapper">
              <a href="/users/detail" class="burger-item"><strong>Datos de usuario</strong></a>
            </li>
            <li class="burger-item-wrapper">
              <a href="/users/logout" class="burger-item" style="color: rgb(171, 169, 169)"><strong>Cerrar sesión</strong></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <form class="header-form" action="/products/search" method="GET">
      <div class="header-search-wrapper">
        <input type="text" name="city" class="header-search-input" placeholder="¿Cuál ciudad es tu próximo destino?" required>
        <button type="submit" class="header-search-button">
          <i class="fa-solid fa-magnifying-glass search-button-icon"></i>
        </button>
      </div>
      <div class="header-form-wrapper">
        <div class="header-picker-label-wrapper">
          <label for="date-checkin" class="header-label">Check-in</label>
          <input type="date" name="date-checkin" id="date-checkin" class="header-form-picker">
        </div>
        <div class="header-picker-label-wrapper" id="header-checkout-wrapper">
          <label for="date-checkout" class="header-label">Check-out</label>
          <input type="date" name="date-checkout" id="date-checkout" class="header-form-picker">
        </div>
      </div>
      <div class="header-form-wrapper">
        <div class="header-picker-label-wrapper">
          <label for="adults-number" class="header-label">Adultos</label>
          <input type="number" name="adults-number" id="adults-number" max="6" min="0" class="header-form-picker">
        </div>
        <div class="header-picker-label-wrapper" id="header-kids-wrapper">
          <label for="kids-number" class="header-label">Niños</label>
          <input type="number" name="kids-number" id="kids-number" max="6" min="0" class="header-form-picker">
        </div>
      </div>
    </form>

  </header>

  <main>
    <div class="products-button">
      <a class="logreg-link" href="/products"><h2> Todas nuestras propiedades <i class="fa fa-house"></i></h2></a>
    </div>
    <div class="main-section-wrapper">
      <section class="main-section carousel">
        <div class="main-section-header-wrapper carousel">
          <h2 class="main-section-header-style carousel">Los destinos más visitados</h2>
        </div>
        <div class="main-section-content-wrapper carousel slide" id="carousel" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/index-carousel-perito.png" class="d-block w-100 carousel-img"
                alt="Glaciar Perito Moreno">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Glaciar Perito Moreno</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-bsas.png" class="d-block w-100 carousel-img"
                alt="Ciudad Autónoma de Buenos Aires">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Buenos Aires</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-mendoza.png" class="d-block w-100 carousel-img" alt="Viñedos en Mendoza">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Viñedos en Mendoza</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/index-carousel-cataratas.png" class="d-block w-100 carousel-img"
                alt="Cataratas del Iguazú">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title">Cataratas del Iguazú</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section class="main-section host">
        <div class="main-section-header-wrapper host">
          <h2 class="main-section-header-style host">¿Querés ser</h2>
          <h2 class="main-section-header-style host">anfitrión?</h2>
        </div>
        <div class="main-section-content-wrapper host">
          <div class="main-section-button-wrapper host">
            <div class="hosting-button">
              <a href="/users/info" class="hosting-button-anchor">Información</a>
            </div>
            <div class="hosting-button">
              <a href="/products/new" class="hosting-button-anchor">Publicar propiedad</a>
            </div>
          </div>
      </section>
      <section class="main-section test">
        <div class="main-section-content-wrapper test">
          <div class="main-section-text-wrapper">
            <p>Tomá el test del viajero para</p>
            <p>conocer un destino en base</p>
            <p>a tus <strong>preferencias</strong> y</p>
            <p>las valoraciones de</p>
            <p>la <strong>comunidad</strong></p>
          </div>
          <div class="traveler-test-button-area">
            <a href="/users/traveler" class="traveler-test-button">Hacer el test!</a>
          </div>
        </div>
      </section>
    </div>
  </main>

  <%- include('partials/footer'); %>
  <%- include('partials/bottomBurgerMenu'); %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>