<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/submit-products.css" />
</head>
  <body class="register">
    <%- include('../partials/header')%>
    <!-------comentado el titulo ya que esta pag es para administradores----
    <div class="cajaTituloHeaderRegister">
      <p class="tituloHeaderRegister desaparecerEnMediano">
       Con nosotros encontra TULUGAR!
        <p class="tituloHeaderRegister apareceMedianoRegister">TuLugar!</p>
      </p> 
    </div>
    ------->
  <section class="cargaYedit">

    <main class="submitProducts">
      <div class="divPrincipalMainRegister">
        <h2>Edición de <%= propiedad.tipoPropiedad %> en la ciudad <%= propiedad.ciudad %> </h2>
        <form action="/admin/edit/<%= propiedad.id %>?_method=PATCH" method="POST" enctype="multipart/
          form-data">
          <!---------------- ruta previa, probando otra -->
          <div class="primerDivCuestionarioRegister">
          <div class="primerCuestionarioRegister">
            <label for="IdUser"><i class="fas fa-user"></i> Usuario ID :</label>
            <input type="number"name="IdUser" placeholder="<%=propiedad.fk %> "/>
          </div>
          <div class="primerCuestionarioRegister">
            <label for="IdProduct"><i class="fab fa-product-hunt"></i> ID <%= propiedad.tipoPropiedad %> :</label>
            <input type="number"name="IdProduct" placeholder="<%=propiedad.id %> "/>
          </div>
          <!------------------------------------ BOTON DE BUSQUEDA?-->
          <div class="botonesSP botonEdit">
            <button class="submit guardarSP">Buscar</button>
          </div>
          </div>
         <div class="propietiDescriptionSP">
          <label for="DescripciónSP"><bold> Descripción General del producto:</bold></label
          >
          <textarea
            type="text"
            name="DescripciónSP"
            id="DescripciónSP"
            placeholder='<%= propiedad.tipoAlquiler %>, Provincia: <%= propiedad.provincia %> , Ciudad: <%= propiedad.ciudad %>, WI FI: <%= propiedad.wifi %>, Desayuno: <%= propiedad.desayuno %>, Cantidad de personas: <%= propiedad.cantPersonas %>, ' 
          ></textarea>
          </div>
          <div class="cuerpoSP">
          <div class="listaSP">
            <!--<h4>Tildar las que correspondan :</h4>-->
            <label for="claseProducto" class="form-control">Tipo de propiedad:</label>
            <input type="text"name="IdProduct" placeholder="<%=propiedad.tipoPropiedad %> "/>
            <label for="claseProducto" class="form-control">Alquiler:</label>
            <input type="text"name="IdProduct" placeholder="<%=propiedad.tipoAlquiler %> "/>
            <label for="claseProducto" class="form-control">Propiedad en la Provincia:</label>
            <input type="text"name="IdProduct" placeholder="<%=propiedad.provincia %> "/>
            <label for="claseProducto" class="form-control">Ciudad :</label>
            <input type="text"name="IdProduct" placeholder="<%=propiedad.ciudad %> "/>
            <div class="cheekboxSP">
              <H4>Subir imagenes</H4>
              
              <div class="cajaImagenesEdit">
                <label for="foto">Subir fotos</label>
                <input type="file" id="foto" />
              </div>            
              <div>
                <label for="Wi Fi">Wi Fi</label>
                <input type="checkbox" id="Wi Fi" />
              </div>
              <div>
                <label for="Servicio de habitación"
                  >Servicio de habitación</label
                >
                <input type="checkbox" id="Servicio de habitación" />
              </div>
              <div>
                <label for="Desayuno incluido">Desayuno incluido</label>
                <input type="checkbox" id="Desayuno incluido" />
              </div>
              <div>
                <label for="Se admiten mascotas">Se admiten mascotas</label>
                <input type="checkbox" id="Se admiten mascotas" />
              </div>
              <div class="cajaImagenesEdit">
                <label for="Capacidad maxima de personas"
                  >Capacidad maxima de personas</label
                >
                <input type="text" id="Capacidad maxima de personas" placeholder="<%= propiedad.cantPersonas %> " />
              
              </div>
              <!--<div>
                <label for="Ropa de cama">Ropa de cama</label>
                <input type="checkbox" id="Ropa de cama" />
              </div>-->
            </div>
            <div class="form-center">
              <span id="valor por dia">Valor por día de estadia </span>
              <input type="text" class="form-control" placeholder="$ <%= propiedad.valorestadia %>">
              <input type="text" class="form-control" placeholder=" regulado por convenio ley de alquileres">
            </div>
          </div>
          <!--------------------------------------------DESCRIPCIONES QUE AGREGUE EL USUARIO-->
          <div class="campoDeEscritura">
            <div class="indicacionesSP">
              <label for="Condiciones particulares"
                >Condiciones particulares aplicables al inquilino : </label
              >
              <textarea
                name="Condiciones particulares"
                id="Condiciones particulares"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <div class="indicacionesSP">
              <label for="Condiciones de contratación"
                >Condiciones de contratación del propietario :
              </label>
              <textarea
                name="Condiciones de contratación"
                id="Condiciones de contratación"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
          </div>
         <div class="datosFinalesSP">
          <label for="Ciudad y direccion del inmueble"
            ></label
          >
          <label for="Datos de contacto!">Datos de contacto</label>
          <input
            type="tel"
            id="Datos de contacto!"
            required
            placeholder="Telefono"
          />
          <input
            type="email"
            id="Datos de contacto!"
            required
            placeholder="Email"
          />
          </div>
          <div class="botonesSP botonEdit">
          <button class="submit guardarSP">Editar</button>
         </div>
        </form>
    </main>

  </section>
  <%- include('../partials/bottomBurgerMenu.ejs'); %>
  <!--FOOTER-->
  <%- include('../partials/footer.ejs'); %>
  </body>
</html>
