<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/host-menu.css" />
  </head>
  <body>
    <%- include('../partials/header')%>
    <main>
      <div class="host-main-section-wrapper">
        <section class="host-property-section">
          <header>
            <div class="host-main-section-heading">
              <a href="/products/create" class="host-add-property-text">Agregar</br>propiedad</a>
            </div>
          </header>
          <div class="host-main-section-content">
            <h2 class="host-section-text-header main-section-header-style">
              Propiedades publicadas
            </h2>
            <div class="host-property-display">
            <% for(let i = 0; i < userProperties.length; i++) { %>
            <% if (userProperties.length === 0) { %>
              <p>No tienes propiedades registradas</p>
            <% } else { %>            
              <div class="host-property-card">
                <div class="property-card-description-wrapper">
                  <p class="property-card-description-text"><%= camelCaseToProperCase(userProperties[i].tipoPropiedad) %></p> 
                  <p class="property-card-description-text"><%= userProperties[i].city %></p> 
                  <p class="property-card-description-text"><%= userProperties[i].provincia %></p> 
                </div>
                <div class="property-photo-wrapper">
                  <img src="/images/host-property-card.webp" class="property-card-photo" href="/products/<%= userProperties[i].IdProduct %>"/>
                </div>
                <div class="property-card-footer">
                  <form action="/products/<%= userProperties[i].IdProduct %>/edit" method="GET" class="property-card-button-wrapper">
                    <button type="submit" class="property-card-footer-button"><i class="fa-solid fa-pen-to-square"></i></button>
                  </form>
                  <form action="/products/<%= userProperties[i].IdProduct %>?_method=DELETE" method="POST" class="property-card-button-wrapper">
                    <button type="submit" class="property-card-footer-button"><i class="fa-solid fa-ban"></i></button>
                  </form>
                  <form action="/products/<%= userProperties[i].IdProduct %>" method="GET" class="property-card-button-wrapper">
                    <button type="submit" class="property-card-footer-button"><i class="fa-solid fa-circle-info"></i></button>
                  </form>
                </div>
              </div>
            <% } } %>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/bottomBurgerMenu.ejs'); %> 
    <%- include('../partials/footer')%>
  </body>
</html>
