<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../partials/head.ejs')%>
 <link rel="stylesheet" href="/css/login.css" />
</head>
<body class="register">
  <header>
    <%- include('../partials/header.ejs')%>
    <style>
      input {
        border: 2px solid currentcolor;
      }
      input:invalid {
        border: 2px dashed red;
      }
      input:invalid:focus {
        background-image: linear-gradient(#d8d2cb, #5094bb);
      }
    </style>
  </header>
<main class="registerMain">
  <div class="cajaTituloHeaderRegister">
    <p class="tituloHeaderRegister desaparecerEnMediano">
      ¡ Ingresá y encontrá TuLugar !
      <p class="tituloHeaderRegister apareceMedianoRegister">TuLugar!</p>
    </p> 
  </div>
  <div class="divPrincipalMainRegister">
    <form method="POST" action="/users/login">
      <div class="primerDivCuestionarioRegister">
        <div class="primerCuestionarioRegister">
          <label class="br" for="email"><i class="far fa-envelope"></i> Email </label>
          <p style="color: red;" id="errorM"></p>
          <input type="email" name="email" id="email" required placeholder= "e-mail" class= "form-control <%= locals.errors?.email ? 'is-invalid' : '' %>" value ="<%= locals.oldData ? oldData.email : '' %>"/>
          <% if (locals.errors?.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %>
            </div>
            <% } %>
        </div>
        <div class="primerCuestionarioRegister">
          <label class="br" for="password"><i class="fas fa-key"></i> Ingresa tu contraseña</label>
          <p style="color: red;" id="errorP"></p>
          <input type="password" name="password" id="password" required placeholder="Contraseña" class=" form-control <%= locals.errors?.password ? 'is-invalid' : '' %>">
          <% if (locals.errors?.password ) { %>
            <div class="text-danger">
              <%= errors.password.msg %>
            </div>
            <% } %>
        </div>
        <h4 class="letraChec"><input type="checkbox" name="remember_login" id="remember_login">  Recordar usuario y contraseña</h4>
        <button class="submitRegisterL" style="margin:auto" type="submit" id="ingresa-button">
          Ingresa
        </button>
      </div>
    </form>
      <br>
      <div class="primerDivCuestionarioRegister">
        <br><br>
        <div class="primerCuestionarioRegister">
          <label class="br" for="contraseña"><i class="fas fa-lock"></i> ¿Olvidaste tu contraseña? </label>
          <input
            type="e-mail"
            name="e-mail"
            placeholder="Dejanos tu e-mail y revisa tu casilla"
            minlength="4" 
            title="Al menos debe contener 4 caracteres"
            class="br"
          />
          <button class="submitRegisterL" type="submit">
            <a class="a" href="/">Enviar</a>
          </button>
        </div>
      <div class="ingresaConRedesRegister">
        <button type="button" > <a class="a" href="/users/register"><p> ¿No tenes usuario? Registrate <i class="fa fa-hand-pointer"></i> </p></a></button>
      </div>
  </div>
</main>
<%- include('../partials/bottomBurgerMenu.ejs'); %>
<%- include('../partials/footer'); %>
<!--<script src="/js/userLoginFrontValidation.js" type="text/javascript"></script>-->
</body>
</html>