<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/head')%>
  </head>
  <body class="register">
    <header>
      <%- include('../partials/header')%>
      <style>
        input {
          border: 2px solid currentcolor;
        }
        input:invalid {
          border: 2px dashed red;
        }
        input:invalid:focus {
          background-image: linear-gradient(#d8d2cb, #5094bb);
        }


      </style>
    </header>
    <main class="registerMain">
      <div class="cajaTituloRegister">
        <p class="tituloRegister desaparecerEnMediano">
          ¡ Registrate en TuLugar !
          <p class="tituloRegister apareceMedianoRegister">TuLugar!</p>
        </p> 
      </div>
      <div class="divPrincipalMainRegister">
        <form action="/users/register" method="POST" enctype="multipart/form-data" >
          <section class="primerSectionCuestionarioRegister">
            <div class="primerCuestionarioRegister">
              <label for="user"><i class="fas fa-user"></i> Nombre de usuario </label> 
              <input type="text" name="username" id="usuario" required minlength=4 maxlength=12 
              title="Debe contener entre 4 a 12 caracteres"
              placeholder= "Elegi tu nombre de usuario" class="form-control <%= locals.errors?.username ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.username : '' %>"/>
              <% if(locals.errors?.username){ %>
              <div class="text-danger">
                <%= errors.username.msg %>
              </div>
              <% } %>
            </div>
            <div class="primerCuestionarioRegister">
              <label for="email"><i class="far fa-envelope"></i> Email </label>
              <input type="email" name="email" id="email" required placeholder="e-mail" class="form-control <%= locals.errors?.email ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.email : null %>"/>
              <% if(locals.errors?.email){ %>
                <div class="text-danger">
                  <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
            <div class="primerCuestionarioRegister">
              <label for="password"><i class="fas fa-key"></i> Ingresa una contraseña </label>
              <input type="password" name="password" id="password" required placeholder="Elegi tu contraseña" 
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
              title="Debe contener al menos: 8 caracteres, una minúscula, una mayúscula, un número y un símbolo" class="form-control <%= locals.errors?.password ? 'is-invalid' : '' %>">
              <% if (locals.errors?.password) { %>
                <div class="text-danger">
                  <%= errors.password.msg %>
                </div>
                <% } %>
            </div>
            <div class="primerCuestionarioRegister">
              <label for="repeat"> <i class="fas fa-lock"></i> Repeti la contraseña </label>
              <input type="password" name="repeat" id="repeat" required placeholder= "Repeti tu contraseña" class=" form-control <%= locals.errors?.repeat ? 'is-invalid' : '' %>">
              <% if (locals.errors?.repeat) { %>
                <div class="text-danger">
                  <%= errors.repeat.msg %>
                </div>
                <% } %>
            </div>
            <div class="primerCuestionarioRegister">
              <label><i class="fa fa-id-card-alt"></i> Elegi tu Categoría </label>
              <select required
              name="type"
              class=" form-control <%= locals.errors?.type ? 'is-invalid' : '' %>">
              
              <option disabled selected value="">Registrate como:</option>
              <% 
              let types = ['Anfitrion','Huesped'];
              %>
              <% for (let type of types) { %>
                <option value="<%= type %>"
                  <%= locals.oldData && (type === oldData.type) ? 'selected' : '' %>> 
                  <%= type %> </option>
                  <% } %>
              </select>
              <% if (locals.errors?.type) { %>
                <div class="text-danger">
                  <%= errors.type.msg %>
                </div>
                <% } %>
            </div>
            <div class="submit-form-images-wrapper "><br>
              <h4 class="wrapper-header"> <i class="fa fa-camera-retro"></i> Imágen de Perfil </h4>
              <input type="file" name="image" id="image" class="submit-form-input" accept=".png, .jpg, .bmp, .webp .gif">
              <% if (locals.errors?.image?.msg1) { %>
                <div class="text-danger">
                  <%= errors.image.msg1 %>
                </div>
                <% } %>
                <% if (locals.errors?.image?.msg2) { %>
                  <div class="text-danger">
                    <%= errors.image.msg2 %>
                  </div>
                  <% } %>
              <div class="images-ul-text"><br>
            <div class="primerCuestionarioRegister checkbox">
              <label for="adult" class="mayor"><i class="fas fa-user mayor"></i> Soy mayor de 18 años </label>
              <input style="width: 8%;margin-left: 3%;" type="checkbox" id="adult" name="adult">
              <% if(locals.errors?.adult){ %>
                <div class="text-danger">
                  <%= errors.adult.msg %>
                </div>
                <% } %>
            </div>
          </section><br>
          <button class="submitRegister" type="submit">
            Ingresa a TuLugar
          </button><br><br><br>
          </form>
          <section>
            <div class="submit-form-images-wrapper">
              <h4 class="wrapper-header" style="text-align: center;">Ingresa con:</h4>
            </div>
            <div class="ingresaConRedesRegister">
              <button type="button"><p><i class="fab fa-google"></i><a class="a" href="https://mail.google.com">oogle</a></p></button>
              <button type="button"><p><i class="fab fa-facebook-square"></i><a class="a" href="https://www.facebook.com/">acebook</a></p></button>
              <button type="button"><p><i class="far fa-envelope"></i><a class="a" href="https://outlook.live.com/">e-mail</a></p></button>
            </div>
          </section>
      </div>
    </main>
    <%- include('../partials/bottomBurgerMenu.ejs'); %>
    <%- include('../partials/footer'); %>
    <script>
   
      const form = document.querySelector('form');
      
      form.onsubmit = (e) => {
        const pass = document.getElementById('password').value;
        const repeat = document.getElementById('repeat').value;
        if(pass !== repeat){ 
        e.preventDefault()
        alert('Las contraseñas no son iguales')}
      }
    </script>
  </body>
</html>
